<nav class="header-wrap">
            <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active" >
              <img src="https://cdn2.hubspot.net/hubfs/255845/OneIMS-Logo-OnDarkBlue-1.svg" alt="OneIMS" width="150">
          </a>
</nav>
<div class="body-area d-flex">
    <nav class="left-sidebar">
          <div class="sidebar-sticky">
      <app-view-navigation></app-view-navigation>
    </div>
    </nav>
<main class="main-content">
<router-outlet></router-outlet>
</main>
</div>