<div class="row">
    <div class="col-md-6">
      <a routerLink="/admin/dashboard/" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i> Back to Dashboard
      </a>
    </div>
    <div class="col-md-6">
  
    </div>
  </div>
  
  <div class="card">
    <div class="card-header">
      Add Document
    </div>
    <div class="card-body">
      <form #documentForm="ngForm" (ngSubmit)="onSubmit(documentForm)">

          <div class="form-group">
              <label for="title">Title</label>
              <input 
                type="text"
                class="form-control" 
                name="title" 
                #title="ngModel" 
                [(ngModel)]="document.title"
                [ngClass]="{'is-invalid': title.errors && title.touched}"
                required
              >
      
              <div [hidden]="!title.errors?.required" class="invalid-feedback">Title required</div>
            </div>

            <div class="form-group">
                <label for="content">Content</label>
                <ejs-richtexteditor [(value)]='document.content' name="content" [(ngModel)]="document.content" ></ejs-richtexteditor>
        
              </div>
            <input type="submit" value="Save" class="btn btn-primary btn-block mt-3">

      </form>
      </div>
      </div>