/* You can add global styles to this file, and also import other style files */
.header-wrap{
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid #f0f0f0;
    padding:15px 0px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}

.flash-message-container{position: fixed; width:50%; bottom:0; right:0;}